<div class="compendium-section">
<p class="compendium-buttons">
  <button (click)="selectEntry(Entries.spells)">Spells</button>
  <button (click)="selectEntry(Entries.skills)">Skills</button>
  <button (click)="selectEntry(Entries.races)">Races</button>
  <button (click)="selectEntry(Entries.classes)">Classes</button>
</p>

<h1 class="compendium-message">{{ message }}</h1>

<ul class="compendium-list">
  <li *ngFor="let entry of entries">
    {{ entry.name }}
  </li>
</ul>

  <!-- TODO make pagination into a component -->
  <div class="compendium-section-pages">
    <button (click)="prevPage()" [disabled]="pageNumber === 1" aria-label="Previous Page">&laquo;</button>
    <span class="page-info">Page {{ pageNumber }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="pageNumber === totalPages" aria-label="Next Page">&raquo;</button>
  </div>

</div>
